data
app/static
/static/

__pycache__

env.local
env.docker
env.prod

.env
env

# Built web components (provided via npm in Dockerfile, volume mount in dev)
app/custom/static/umap/js/hanko-auth.esm.js
app/custom/static/umap/js/tool-menu.esm.js

.DS_Store

certbot
