export UMAP_SETTINGS=settings.py
export DEBUG=True

export UMAP_OSM_KEY=<YOUR OSM KEY>
export UMAP_OSM_SECRET<YOUR OSM SECRET>
export SITE_ADMIN_EMAIL=youremail@domain.org

export MEDIA_ROOT=<YOUR_PATH>/umap/data
export UMAP_CUSTOM_TEMPLATES=/<YOUR_PATH>/umap/app/custom/templates
export UMAP_CUSTOM_STATICS=<YOUR_PATH>/umap/app/custom/static

export UMAP_IMPORT_TILELAYERS_PATH=<YOUR_PATH>/umap/app/scripts/import-tilelayers.sql
export UMAP_ICONS_PATH=<YOUR_PATH>/umap/app/custom/icons

export UMAP_DB_NAME=<DB_NAME>
export UMAP_DB_USER=<DB_USER>
export UMAP_DB_PASSWORD=<DB_PASSWORD>
export PGPASSWORD=<DB_PASSWORD>