export UMAP_OSM_KEY=<GET AN OAUTH KEY FROM osm.org>
export UMAP_OSM_SECRET=GET AN OAUTH SECRET FROM osm.org>

export ENABLE_S3_STORAGE=True
export S3_ACCESS_KEY=
export S3_SECRET_KEY=
export S3_BUCKET_NAME=your-bucket
export S3_ENDPOINT_URL=https://your-bucket.s3.<zone>.amazonaws.com

export UMAP_DB_PASSWORD=ThisIsAReallyComplexPassword!

export UMAP_SITE_URL=https://umap.hotosm.org/
export SITE_ADMIN_EMAIL=
export SITE_DOMAIN=umap.hotosm.org
export UMAP_SOCIAL_AUTH_REDIRECT_IS_HTTPS=True

export ALLOWED_HOSTS=umap.hotosm.org,localhost,127.0.0.1
export CSRF_TRUSTED_ORIGINS=https://umap.hotosm.org
