export UMAP_OSM_KEY=<GET AN OAUTH KEY FROM osm.org>
export UMAP_OSM_SECRET=<GET AN OAUTH SECRET FROM osm.org>

export UMAP_SITE_URL=http://127.0.0.1:8001
export SITE_ADMIN_EMAIL=emilio.mariscal@hotosm.org
export SITE_DOMAIN=umap.hotosm.org
export ALLOWED_HOSTS=127.0.0.1,umap.local
export CSRF_TRUSTED_ORIGINS=http://127.0.0.1,http://umap.local

export DEBUG=True
