export UMAP_SITE_URL=https://<your_domain>
export SITE_DOMAIN=<your_domain>
export UMAP_SOCIAL_AUTH_REDIRECT_IS_HTTPS=True
export ALLOWED_HOSTS=<your_domain>,localhost,127.0.0.1
export CSRF_TRUSTED_ORIGINS=https://<your_domain>

export UMAP_OSM_KEY=<YOUR OSM KEY>
export UMAP_OSM_SECRET<YOUR OSM SECRET>
export SITE_ADMIN_EMAIL=youremail@domain.org

export MEDIA_ROOT=<YOUR_PATH>/umap/data
export UMAP_CUSTOM_TEMPLATES=/<YOUR_PATH>/umap/app/custom/templates
export UMAP_CUSTOM_STATICS=<YOUR_PATH>/umap/app/custom/static

export UMAP_IMPORT_TILELAYERS_PATH=<YOUR_PATH>/umap/app/scripts/import-tilelayers.sql
export UMAP_ICONS_PATH=<YOUR_PATH>/umap/app/custom/icons

export UMAP_DB_NAME=<DB_NAME>
export UMAP_DB_USER=<DB_USER>
export UMAP_DB_PASSWORD=<DB_PASSWORD>
export PGPASSWORD=<DB_PASSWORD>


