{% extends "umap/content.html" %}

{% block maincontent %}
  <div class="wrapper row">
    <div class="upload-form">
      <h2>Upload a ChatMap</h2>
      <p>You must download a zip file from <strong><a href="https://chatmap.hotosm.org">chatmap.hotosm.org</a></strong> and upload it here.</p>
      <form action="/save_file/" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input class="text-input" type="text" name="name" id="name" required placeholder="Map name (ex: My awesome map)">
        <input class="file-input" type="file" name="file" id="file" required accept=".zip">
        <select name="template_id" id="template_id">
          <option value="-1">Default template</option>
          {% for tpl in chatmap_templates %}
            <option value="{{ tpl.id }}">{{ tpl.name }}</option>
          {% endfor %}
        </select>
        <input class="button-primary" type="submit" value="Upload" />
      </form> 
    </div>
    <p>
      Need help? check <a href="https://www.youtube.com/watch?v=QHuV4aE9VIg">this video</a>
    </p>
  </div>
{% endblock maincontent %}
