{% load static %} {% if AUTH_PROVIDER == 'hanko' %}
<!-- HOTOSM Auth Web Component (@hotosm/hanko-auth) -->
<script type="module" src="{% static 'umap/js/hanko-auth.esm.js' %}"></script>
{% endif %}
<!-- HOTOSM Tool Menu Web Component with lit decorators -->
<script type="importmap">
  {
    "imports": {
      "lit": "https://esm.sh/lit@3",
      "lit/decorators.js": "https://esm.sh/lit@3/decorators"
    }
  }
</script>
<script type="module" src="{% static 'umap/js/tool-menu.esm.js' %}"></script>

<!-- Matomo -->
<script>
  var _paq = window._paq = window._paq || [];
    _paq.push(['disableCookies']);
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function () {
      var u = "//matomo.hotosm.org/";
      _paq.push(['setTrackerUrl', u + 'matomo.php']);
      _paq.push(['setSiteId', '34']);
      var d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0];
      g.async = true; g.src = u + 'matomo.js'; s.parentNode.insertBefore(g, s);
    })();

  window.onload = function() {
    /* Track download button clicks */
    if (U && "MAP" in U && "share" in U.MAP && "download") {
      const uMapShareDownload = U.MAP.share.download;
      U.MAP.share.download = function(...args) {
          _paq.push(['trackEvent', 'Download', 'Click', document.title.slice(0,100), 1]);
          return uMapShareDownload.apply(this, args);
      }
    }
  }
</script>
<!-- End Matomo Code -->
